/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-weight: var(--main-font-weight);
  background-color: var(--bg-color);
  color: var(--text-color);
  background-image: var(--bg-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  font-family: var(--main-font-family);
  font-variation-settings: "wght" var(--main-font-weight);
}

.header {
  font-family: var(--accent-font-family);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-color: var(--bg-color);
  border: 2px solid var(--text-color);
  width: 100%;
  max-width: 700px;
  height: 100%;
  margin: 100px auto;
  padding-block-start: 136px;
  padding-block-end: 23px;
}

.header__title {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  text-transform: uppercase;
}

.header__caption {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  font-weight: 400;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  text-transform: uppercase;
  text-decoration: none;
}

.theme-menu__list {
  margin-top: 5px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: start;
  padding-inline-start: 20px;
}

.theme-menu__button {
  position: relative;
  border: none;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 14px;
  background-color: transparent;
  transition: opacity 0.3s ease;
  cursor: pointer;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  left: -18px;
  top: 2;
  animation: arrow 0.5s alternate infinite ease-in-out;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
  cursor: default;
}

.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button::after {
  content: "";
  display: block;
  inline-size: 100%;
  block-size: 2px;
  transform-origin: left;
  transform: scaleX(0);
  background-color: currentColor;
  transition: transform 0.3s ease;
}

.theme-menu__button:focus-visible::after {
  transform: scaleX(1);
}

/*main*/

.content__card {
  width: 100%;
  background-color: var(--bg-color);
  border: 2px solid var(--text-color);
  max-width: 700px;
  height: 100%;
  margin: 50px auto;
}

.content__card-title {
  font-family: var(--main-font-family);
  font-size: 18px;
  padding: 4px 10px 6px;
  font-weight: var(--heading-font-weight);
  font-variation-settings: "wght" var(--heading-font-weight);
}

.image__area {
  position: relative;
  overflow: hidden;
  border-block-end: 2px solid var(--text-color);
  border-block-start: 2px solid var(--text-color);
}

.card__image {
  display: block;
  object-fit: cover;
  object-position: center;
  block-size: 100%;
  inline-size: 100%;
  aspect-ratio: 1 / 1;
}

.image__text {
  font-family: var(--accent-font-family);
  color: var(--text-color);
  font-size: 14px;
  position: absolute;
  top: 25px;
  right: 25px;
  opacity: 0.5;
  text-shadow: 0 0 1px var(--bg-color);
}

@supports (
  (text-stroke: 1px var(--bg-color)) or
    (-webkit-text-stroke: 1px var(--bg-color))
) {
  .image__text {
    -webkit-text-stroke: 1px var(--bg-color);
    text-stroke: 1px var(--bg-color);
    text-shadow: none;
    mix-blend-mode: hard-light;
  }
}

.card__content {
  display: flex;
  flex-direction: column;
  padding: 25px;
  gap: 27px;
  font-family: var(--main-font-family);
  font-weight: var(--main-font-weight);
  font-size: 18px;
  font-variation-settings: "wght" var(--main-font-weight);
  line-height: 21px;
}

.button__area {
  display: flex;
  justify-content: flex-end;
  padding-inline-end: 25px;
  gap: 4px;
  padding-block-end: 25px;
}

.button {
  position: relative;
  border: 2px solid var(--text-color);
  background-color: var(--bg-color);
  transition: box-shadow 0.3s ease;
  cursor: pointer;
  font-family: var(--accent-font-family);
  font-size: 14px;
  appearance: none;
}

.card__like-button {
  inline-size: 130px;
  block-size: 38px;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: none;
  box-shadow: 2px 2px 0px 0px var(--text-color);
}

.button::before {
  content: "";
  position: absolute;
  background-color: var(--text-color);
  transform: scaleX(0);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
}

.button__text {
  position: relative;
  z-index: 1;
  display: block;
  color: var(--button-text-color);
  mix-blend-mode: difference;
}

.button:hover::before {
  transform: scaleX(1);
}

.card__icon-button {
  background-color: transparent;
  border: 2px solid transparent;
  block-size: 38px;
  padding: 0;
  transition: border 0.3s ease;
  cursor: pointer;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--text-color);
}

.footer__button {
  display: flex;
  flex-direction: row;
  gap: 8px;
  padding: 15px 21px;
  align-items: center;
  margin: 0px auto 100px;
}

.floppy {
  inline-size: 21px;
  block-size: 21px;
  mix-blend-mode: difference;
}

.dialog {
  display: none;
  max-width: 357px;
  padding: 30px;
  border: 2px solid var(--text-color);
  background-color: var(--bg-color);
  color: var(--text-color);
}

.dialog[open] {
  display: flex;
}

.floppy__text-area {
  display: flex;
  gap: 20px;
  align-items: center;
}

.floppy__modal {
  inline-size: 39px;
  block-size: 39px;
  align-self: center;
  flex-shrink: 0;
  mix-blend-mode: difference;
}

.dialog__close-button {
  inline-size: 100%;
  block-size: 38px;
  margin-block-start: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dialog__text {
  font-family: var(--accent-font-family);
  text-transform: uppercase;
  line-height: 21px;
  font-size: 14px;
}

dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.filter-grayscale {
  filter: grayscale(80%);
}

.filter-saturate {
  filter: saturate(350%);
}

.filter-hue-rotate {
  filter: hue-rotate(25deg);
}

.filter-invert {
  filter: invert(80%);
}

.filter-sepia {
  filter: sepia(90%);
}

.filter-blur {
  filter: blur(1rem);
}

.filter-multiple {
  filter: contrast(35%) hue-rotate(90deg) saturate(170%) blur(0.1rem);
}

@media (width <= 375px) {
  .header {
    padding-block-start: 120px;
  }

  .footer__button {
    flex-direction: column;
  }

  .floppy {
    inline-size: 28px;
    block-size: 28px;
  }

  .dialog {
    padding: 30px 40px;
    margin-left: 17px;
    margin-right: 17px;
  }

  .image__text {
    right: 13px;
  }
}
